body{
    background-color: white;
}

.head{
    height: 50px;
    width: 89.95%;
    padding: 12px 70px 12px 100px;
    margin: -10px 10px 0px -10px;
}

.head-content{
    height: 50px;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-content img{
    height: auto;
    width: 100px;
}

.mid{
    height: 20px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.mid a{
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.mid a:hover{
    border-bottom: 2px solid green;
}

.btn a{
    padding: 7px 12px 7px 12px;
    height: 35px;
    width: 150px;
    background-color: rgba(70, 145, 101, 1);
    outline: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    font-size: 0.95em;
    color: white;
    text-decoration: none;
}

.btn a:hover{
    color: black;
    background: transparent;
    outline: 2px solid black;
}

/* Section Part */
.section{
    background-color: white;
    height: 1600px;
    width: 101.17%;
    margin: 0 -20px 0 -10px;
    position: relative;
    text-align: center;
}

.section img{
    height: 600px;
    width: 100%;
}
.section-head{
    height: 650px;
    width: 100%;
}

.blank{
    background-color: transparent;
    height: 100px;
}

.sh-content{
    margin-left: 120px;
    margin-right: 120px;
    padding-left: 50px;
    text-align: center;
    height: 400px;
    width: 80%;
    position: absolute;
}

.sh-content1 h5{
    height: 25px;
    width: 200px;
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
    margin-left: 37%;
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    color: rgb(79, 162, 79);
}

.sh-content2 h1{
    height: 90px;
    width: 800px;
    color: white;
    position: absolute;
    margin: 3% 0 0 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4em;
}

.sh-content3 h1{
    height: 90px;
    width: 800px;
    position: absolute;
    margin: 8% 0 0 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4em;
    color: rgba(48, 184, 104, 1);
}

.sh-content4 p{
    height: 50px;
    width: 800px;
    position: absolute;
    margin: 14% 0 0 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: white;
}

.sh-content5{
    height: 30px;
    width: 800px;
    display: flex;
    position: absolute;
    margin: 18% 0 0 15%;
}

.anchor1 a{
    height: 30px;
    width: 200px;
    padding: 1.5% 2% 1.5% 2%;
    background-color: rgba(48, 184, 104, 1);
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    border-radius: 5px;
    margin-right: 30px;
    margin-left: 200px;
    display: flex;
}

.anchor1 a img{
    height: 16px;
    width: 16px;
    margin-left: 10px;
}

.anchor1 a:hover{
    background: transparent;
    outline: 2px solid white;
}

.anchor2 a{
    height: 37px;
    width: 160px;
    padding: 1.5% 2% 1.5% 7%;
    background: transparent;
    text-decoration: none;
    outline: 2px solid white;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    border-radius: 5px;
    display: flex;
}

.anchor2 a img{
    height: 16px;
    width: 16px;
    margin-right: 5px;
}

.anchor2 a:hover{
    background: rgba(48, 184, 104, 1);
    outline: none;
}

.section-body{
    margin-top: -80px;
    background-color: rgb(237, 237, 237);
    height: 385px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-body h1{
    padding-top: 40px;
    font-size: 2.7em;
}

.section-body p{
    margin-top: -15px;
    font-size: 0.9em;
}

.sb-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 125px;
    display: flex;
    gap: 15px;
}
.sb-content1{
    background-color: white; 
    height: 210px;
    width: 300px;
    padding-top: 50px;
    border-radius: 10px;
    /* box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1); */
}
.sbcimg1 img{
    background-color: red;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 3%;
}
.sb-content h3{
    font-size: 1.5em;
}

.section-body2{
    height: 700px;
    display: flex;
    gap: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5%;
}

.sb2img{
    height: 100px;
    width: 590px;
    margin-left: 125px;
}

.sb2info{
    padding-top: 4%;
    text-align: left;
}

.sb2info1 h5{
    color: rgba(48, 184, 104, 1);
    font-size: 1em;
}

.sb2info2 h1{
    color: black;
    font-size: 3em;
    margin-top: -20px;
}
.sb2info3 p{
    color: grey;
    font-size: 1em;
    margin-top: -18px;
    margin-bottom: 30px;
}

.sb2info4 p img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}